<!--
    - #FOOTER
  -->

<section class="" aria-label="topics" id="topics">
  <div class="">
    <div class="">
      <div class="footer-bottom">
        <p class="copyright">
          All rights reserved by &copy;
          <a
            href="https://www.linkedin.com/in/saidul-is-rajib/"
            class="copyright-link"
            >Saidul Islam Rajib </a
          >, {{ currentYear }}
        </p>

        <ul class="social-list">
          <li>
            <a
              href="https://www.facebook.com/saidul.is.rajib/"
              class="social-link"
            >
              <span class="span">Facebook</span>
            </a>
          </li>

          <li>
            <a
              href="https://www.linkedin.com/in/saidul-is-rajib/"
              class="social-link"
            >
              <span class="span">LinkedIn</span>
            </a>
          </li>

          <li>
            <a href="https://github.com/saidul-islam-rajib" class="social-link">
              <span class="span">Github</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
